{% extends "base.html" %}

{% block title %}Bob's Blog - API Test{% endblock %}

{% block head %}
{{ super() }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<script src="https://use.fontawesome.com/c4a0068170.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='api.css', _external=True) }}">
{% endblock %}

{% block page_content %}
<div id="menu">
    <button data-action="Token">Click to get a token</button>
    <button data-action="Users">Click to get users</button>
    <button data-action="Posts">Click to get posts</button>
</div>

<div class="col-sm-3"></div>
<div id="users" class="col-sm-9"></div>

<script type="text/javascript" src="{{ url_for('static', filename='api.js', _external=True) }}"></script>

{% endblock %}